//  iphone size
@media (max-width: 480px) {
  .header {
    ul {
      list-style: none;
      text-align: right;

      li {
        display: inline-block;
        position: relative;
        font-size: 30px;
        background-color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        padding: 4px;
        border: 4px solid palevioletred;

        a {
          text-decoration: none;
          color: palevioletred;
        }

        &.current, &:hover {
          background-color: palevioletred;

          a {
            text-decoration: none;
            color: #fff;
            display: block;
          }
        }
      }
    }
  }
}