$about-base: #e9a1b9;

.about {
  .subtitle {
    text-align: center;
    margin: 5%;
    padding-top: 8%;
    font-size: 48px;
    line-height: 38px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .content {
    padding: 0 20px;
    width: 100%;

    .intro {
      margin-bottom: 5%;

      p {
        text-indent: 1em;
        color: rgb(102, 102, 102);
        font-family: 'Open Sans', sans-serif;
        line-height: 38px;
        font-weight: 300;
        padding: 0 10%;
        font-size: 24px;
      }
    }

    .viewmore {
      width: 200px;
      margin: 5% auto;

      a {
        text-decoration: none;
        display: block;

        &.button {
          border: 2px solid $about-base;
          background-color: transparent;
          -webkit-transition: .1s background-color linear;
          -moz-transition: .1s background-color linear;
          -o-transition: .1s background-color linear;
          transition: .1s background-color linear;
          font-size: 27px;
          text-align: center;
          color: $about-base;
          font-weight: 500;
        }

        &:hover {
          background-color: $about-base;
          color: #fff;
          border: 2px solid #fff;
        }
      }
    }

    .brief-portfolio{
      margin-bottom: 5%;

      .list {
        margin: 5%;

        a {
          text-decoration: none;
          margin-right: 4%;

          &.last {
            margin-right: 0;
          }

          figure {
            display: inline-block;

            img {
              display: block;
              width: 325px;
              height: 325px;
              border: 10px solid #fff;
              border-radius: 50%;
            }

            figcaption {
              font-size: 30px;
              text-align: center;
              font-weight: 500;
              color: #000;
              position: absolute;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}