$aboutme-base: rgb(2, 201, 201);

.aboutme {
  text-align: center;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 45px;
    color: $aboutme-base;
    border: #eee;
    border-radius: 50%;
    background-color: #eee;
    opacity: 1;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .education {
    line-height: 3em;
    width: 100%;
    margin-bottom: 5%;

    .subtitle {
      text-align: center;
      margin: 5%;
      padding-top: 5%;
      font-size: 40px;
    }

    .subtitle-content {
      margin: 45px;
    }

    .timeline {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 1em 0;
      list-style-type: none;
    }

    .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 6px;
      height: 100%;
      margin-left: -3px;
      background: rgb(80,80,80);
      background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
      background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    }

    .timeline li {
      padding: 2em 0
    }

    .timeline li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .direction-l {
      position: relative;
      width: 50%;
      float: left;
      text-align: right;
    }

    .direction-r {
      position: relative;
      width: 50%;
      float: right;
      text-align: left;
    }

    .flag-wrapper {
      position: relative;
      display: inline-block;
      padding: 0 3px;
      text-align: center;
    }

    .flag {
      position: relative;
      display: inline;
      background: rgb(248,248,248);
      padding: 6px 10px;
      border-radius: 5px;
      font-weight: 500;
      text-align: left;
      font-size: 1.2em;
    }

    .direction-l .flag {
      -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-r .flag {
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: 50%;
      right: -10px;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -10px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid $aboutme-base;
    }

    .direction-r .flag:before {
      left: -10px;
    }

    .time-wrapper {
      display: inline;
      line-height: 1em;
      font-size: 1.2em;
      color: $aboutme-base;
      vertical-align: middle;
      margin-top: 10px;
    }

    .direction-l .time-wrapper {
      float: left;
    }

    .direction-r .time-wrapper {
      float: right;
    }

    .time {
      display: inline-block;
      padding: 4px 6px;
      background: rgb(248,248,248);
    }

    .desc {
      margin: 1em 0.75em 0 0;
      font-size: 1.2em;
      font-style: italic;
      line-height: 1.5em;
    }

    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }
  }

  .skills {
    margin-bottom: 5%;

    .progress-set {
      padding: 0 12%;

      .progress {
        height: 25px;
        margin: 20px 0;

        .progress-bar {
          background-color: $aboutme-base;
          font-size: 13px;
        }
      }
    }
  }
}