$about-base: #e9a1b9;

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.about {
  .subtitle {
    text-align: center;
    margin: 5%;
    padding-top: 8%;
    font-size: 48px;
    line-height: 38px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .content {
    padding: 0 20px;
    width: 100%;

    .intro {
      margin-bottom: 5%;

      p {
        text-indent: 1em;
        color: rgb(102, 102, 102);
        font-family: 'Open Sans', sans-serif;
        line-height: 38px;
        font-weight: 300;
        padding: 0 10%;
        font-size: 24px;
      }
    }

    .viewmore {
      width: 200px;
      margin: 0 auto;

      a {
        text-decoration: none;
        display: block;

        &.button {
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 27px;
          font-weight: normal;
          line-height: 1.428571429;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          background-color: #222;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          border-radius: 5px;
        }
      }
    }

    .brief-portfolio{
      margin-bottom: 5%;
      text-align: center;
      background-color: #fff;
      border-bottom: 17px dotted #fff;
      border-top: 17px dotted #fff;

      .card1 {
        border: 2px solid #EBEBEB;
        height: 600px;
        margin: 0 0 100px 6.5%;
        background-color: #F7F7F7;
        text-align: left;
        border-radius: 5px;
        font-family: Montserrat, sans-serif, Arial;

        figure img{
          width: 100%;
          height: 170px;
          margin: 30px 0;
        }

        .title {
          color: #222222;
          font-size: 29px;
          font-weight: 500;
          letter-spacing: 1px;
        }

        .blog-meta {
          font-size: 15px;
          line-height: 13px;
          margin: 20px -13px;
          color: #6d6d6d;
        }

        .blog-content {
          padding-bottom: 10px;
          line-height: 25px;
          text-indent: 0;
          font-size: 18px;
          color: #6d6d6d;
        }

        div#slider {
          overflow: hidden;
        }
        div#slider figure img {
          width: 20%;
          float: left;
        }
        div#slider figure {
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          -webkit-animation: 15s slidy infinite;
        }
      }

      .card2 {
        background-color: #000;
        height: 330px;
        margin: 0 0 100px 6.5%;
        border-radius: 5px;
        font-family: Montserrat, sans-serif, Arial;

        p {
          font-weight: 500;
          color: #FFFFFF;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 0px;
          margin: 40px 20px;
          text-align: left;
          text-indent: 0;

          span {
            font-size: 20px;
            font-weight: 300;
            text-align: right;
          }
        }
      }
    }
  }
}