@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.fullscreen {
  .f-banner {
    text-align: center;
    margin: 0;

    div#slider {
      overflow: hidden;
      margin-bottom: 45px;
    }
    div#slider figure img {
      width: 20%;
      float: left;
      height: 100vh;
    }
    div#slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      -webkit-animation: 15s slidy infinite;
    }

    p {
      font-size: 20px;
    }
  }

  .f-content {
    margin: 100px;

    p {
      font-size: 20px;
      text-indent: 1em;
      margin: 30px 0;
      height: 100px;
      padding: 20px;
    }

    .row {
      margin-top: 150px;
      text-align: center;

      img {
        width: 300px;
        height: 250px;
      }

      p {
        text-align: left;
      }
    }

    .highlighted {
      text-align: center;
      margin-top: 100px;

      h3 {
        text-align: left;
      }

      img {
        &.ui {
          width: 40%;
          height: 150px;
          display: block;
          margin-left: 30%;
        }

        &.code {
          eight: 396px;
          width: 450px;
          margin: 40px;
        }
      }

      p {
        text-align: left;
        text-indent: 1em;
        font-size: 20px;
      }
    }
  }
}