@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.fullscreen {
  .close {
    position: absolute;
    top: 101vh;
    right: 20px;
    font-size: 45px;
    color: #333;
    border: #eee;
    border-radius: 50%;
    background-color: #eee;
    opacity: 1;
    width: 50px;
    height: 50px;
    text-align: center;

    &:hover {
      opacity: 1;
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    }
  }


  .f-banner {
    text-align: center;
    margin: 0;

    div#slider {
      overflow: hidden;
      margin-bottom: 45px;
    }
    div#slider figure img {
      width: 20%;
      float: left;
      height: 100vh;
    }
    div#slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      -webkit-animation: 15s slidy infinite;
    }

    p {
      font-size: 22px;
      color: #62676b;
    }
  }

  .f-content {
    margin: 100px;
    background-color: #f7f7f9;

    h3 {
      -webkit-font-smoothing: antialiased;
      color: #62676b;
      letter-spacing: normal;
      font-size: 42px;
      line-height: 1.8em;
      text-align: left;
      font-weight: 500;
      padding: 50px 0 20px 25px;
    }

    p {
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 0;
      color: #62676b;
      -webkit-font-smoothing: antialiased;
      text-align: left;
      text-indent: 1em;
      padding: 0 60px;
    }

    .row {
      margin-top: 150px;
      text-align: center;

      img {
        width: 300px;
        height: 250px;
        margin-bottom: 50px;
      }

      p {
        text-align: left;
        padding: 50px;
      }
    }

    .highlighted {
      text-align: center;
      margin-top: 100px;

      h3 {
        text-align: left;
      }

      img {
        &.ui {
          width: 40%;
          height: 150px;
          display: block;
          margin: 5% 30% 10%;
        }

        &.code {
          height: 545px;
          width: 540px;
          margin: 40px 0;
        }
      }

      p {
        text-align: left;
        text-indent: 1em;
        font-size: 20px;
      }
    }
  }
}