@media screen and (max-width: 1100px) {
  .gototraining {
    .title .demo1 {
      float: none !important;
      margin-left: 20% !important;
      margin-top: 60px !important;
    }

    .close {
      font-size: 17px !important;
    }

    .instantjoin {
      i {
        margin-right: 20px;
      }

      img {
        width: 100% !important;
        height: 400px;
        padding-left: 20%;
      }
    }
  }
}

.gototraining {
  margin: 0;
  padding: 0;
  color: #fff;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 45px;
    color: #333;
    border: #eee;
    border-radius: 50%;
    background-color: #eee;
    opacity: 1;
    width: 50px;
    height: 50px;
    text-align: center;

    &:hover {
      opacity: 1;
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    }
  }

  //  content
  .title {
    margin: 80px;

    img {
      height: 90px;
      width: 300px;
    }

    h3 {
      margin: 40px 0 10px 60px;
    }

    p {
      font-size: 20px;
      line-height: 1.5em;
      margin-left: 80px;
    }

    i {
      margin-right: 10px;
    }

    .demo1 {
      height: 400px;
      width: 500px;
      float: right;
      margin: -200px 3%;
    }
  }

  .instantjoin {
    background-color: #eee;
    color: #000;
    margin-top: 100px;

    h2 {
//      主标题
      font-size: 42px;
      height: auto;
      letter-spacing: 6px;
      line-height: 48px;
      text-align: left;
      width: auto;
      font-weight: 800;
      padding: 200px 0 10px 80px;
    }

//    副标题
    h3 {
      padding: 25px 0 80px 80px;
      color: rgb(98, 103, 107);
      font-size: 20px;
      font-style: italic;
      letter-spacing: 2px;
      line-height: 40px;
    }

    img {
      width: 350px;
      height: 220px;
      margin: 40px 0;
    }

//    内容标题
    p {
      -webkit-font-smoothing: antialiased;
      color: #333;
      letter-spacing: normal;
      font-size: 24px;
      line-height: 1.8em;
      text-align: left;
      margin: 10px 80px;
      font-weight: 500;

//      内容
      &.des {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0;
        color: #62676b;
        -webkit-font-smoothing: antialiased;
        text-align: left;
        margin-bottom: 80px;
      }
    }
  }

  .breakout {
    background-color: #fff;
    color: #000;
    padding: 40px 300px 100px;
    text-align: center;

    h3 {
      margin: 20px -300px;
      line-height: 35px;
      font-weight: 400;
    }
  }

  hr {
    margin-top: 70px;
    margin-bottom: 70px;
    border: 0;
    border-top: 1px solid #fff;
    width: 90%;
  }
}