.g2m {
  .g2m-banner {
    #g2m-bg.nebula {
      height: 80vh;
    }

    .close {
      float: right;
      background-color: #333;
      opacity: 1;
      border-radius: 50%;
      margin: 2vh;
      font-size: 30px;
      padding: 4px 8px 6px;
      color: #fff;
    }

    img {
      float: right;
      margin-top: -19vh;
      width: 50%;
      height: 75vh;
    }

    .banner-text {
      .title {
        color: #fff;
        font-size: 36px;
        padding: 20vh 5% 0;
        font-family: 'proxima nova light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

        img {
          float: left;
          width: 50px;
          height: 48px;
          margin: 0 10px 0 0;
        }
      }

      hr {
        border: 0;
        border-top: 1px solid #eee;
        margin: 20px 55% 10px 5%;
      }

      .subtitle {
        color: #fff;
        font-size: 24px;
        margin: 0 5%;
        width: 40%;

        .left {
          float: left;
        }

        .right {
          float: right;
        }
      }

      .content {
        width: 40%;
        margin: 5% 0 0 5%;
        font-size: 18px;
        color: #f3f3f3;
      }
    }
  }

  .g2m-ij {
    clear: both;
    padding: 10vh 5%;
    color: #000;
    margin: 0 auto;

    .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3em;
      padding-bottom: 1vh;
      width: 75%;
      margin: 0 auto;
      padding-top: 10vh;
      font-family: 'proxima nova light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .subtitle {
      box-sizing: border-box;
      font-size: 16px;
      line-height: 1.6em;
      color: #666;
      width: 75%;
      margin: 0 auto;
    }

    .row {
      width: 95%;
      margin: 0 auto;
      padding-top: 5vh;

      .col-md-4 {
        img {
          width: 100%;
          height: 30vh;
          border: 5px solid #eee;
        }
      }
    }
  }

  .g2m-feature {
    background-color: #eee;
    padding: 10vh 5%;
    color: #000;

    .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3em;
      padding-bottom: 1vh;
      width: 75%;
      margin: 0 auto;
      padding-top: 10vh;
      text-align: left;
      font-family: 'proxima nova light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .subtitle {
      box-sizing: border-box;
      font-size: 16px;
      line-height: 1.6em;
      color: #666;
      width: 75%;
      margin: 0 auto;
    }

    .flow-img {
      margin: 0 auto;
      width: 100%;
      vertical-align: middle;
      text-align: center;

      img {
        width: 30%;
      }
    }
  }

  .contributions {
    background-color: #556270;
    color: #fff;
    padding: 0 5% 10vh;

    .row .col-md-6 {
      padding: 10vh 0 0;
      text-align: center;

      img {
        width: 70%;
        margin: 5vh 0;
        border: 5px solid #eee;
      }
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3em;
      padding-bottom: 1vh;
      width: 75%;
      margin: 0 auto;
      padding-top: 10vh;
      text-align: left;
      font-family: 'proxima nova light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .subtitle {
      box-sizing: border-box;
      font-size: 16px;
      line-height: 1.6em;
      color: #fff;
      width: 75%;
      margin: 0 auto;
    }
  }

  .bottom {
    background: url(../images/bottom.png) repeat 0 0;
    width: 100%;
    height: 50vh;
    text-align: center;

    i {
      color: #fff;
      font-size: 70px;
      margin-top: 5vh;

      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }
}