@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 605px) {
  div.hiptraveler .ht-content {
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 0 10%;
  }

  div.hiptraveler .ht-banner {
    background-color: #333;
    padding-left: 0;
    max-height: 510px;
    overflow: hidden;
    text-align: center;
  }

  div.hiptraveler .ht-content .ht-content-title p {
    color: #333;
    font-style: italic;
    line-height: 1.6em;
    font-size: 21px;
    text-align: left;
    margin-top: 10vh;
  }

  div.revealOnScroll {
    opacity: 0;
    margin: 6vh 0;
    width: 100%;
    padding: 0;
  }

  div.hiptraveler .ht-content .ht-content-title img {
    width: 100%;
    height: 123px;
  }

  div.hiptraveler.g2m .contributions .row .col-md-6 img {
    width: 85%;
    height: 35vh;
    border: 5px solid #eee;
  }
}

@media screen and (max-width: 1300px) and (min-width: 605px) {
  .hiptraveler {
    .ht-content {
      .ht-content-title {
        p {
          padding: 100px 60px 20px !important;
        }
      }

      .ht-content-work {
        img {
          width: 100% !important;
          height: 1000px !important;
        }

        p {
          margin: 10px 50px !important;
        }
      }
    }
  }
}

.hiptraveler {
  height: 100vh;
  width: 100%;
  color: #fff;

  .close {
    position: absolute;
    top: 2vh;
    right: 3%;
    font-size: 30px;
    color: #333;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    text-align: center;
    padding: 4px 8px 6px;

    &:hover {
      opacity: 1;
    }
  }

  .ht-banner {
    background-color: #333;
    padding-left: 12%;
    max-height: 510px;
    overflow: hidden;

    img {
      width: 240px;
      height: 170px;

      &.fade {
        -webkit-animation: fade-in 1s;
        -webkit-animation-fill-mode: forwards;
      }
    }
  }

  .ht-content {
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 50px 80px;

    .ht-content-title {
      img {
        width: 300px;
        height: 123px;
      }

      p {
        color: #333;
        font-style: italic;
        line-height: 1.6em;
        font-size: 21px;
        text-align: left;
        margin-top: -10vh;
      }
    }

    .ht-content-intro {
      text-align: center;
      padding: 10vh 5%;

      i {
        color: #6FCDF5;
        font-size: 80px;
      }

      h2 {
        font-size: 18px;
        color: #333;
        line-height: 1.6em;
        text-align: center;
        padding: 0 20%;
      }
    }

    .ht-content-work {

      h2 {
        font-size: 42px;
        letter-spacing: 6px;
        line-height: 48px;
        color: #333;
      }

      img {
        width: 60%;
        padding: 5%;
        margin: 2%;
        height: 70vh;

        &.sidebar {
          width: 38%;
          height: 70vh;;
        }
      }

      p {
        -webkit-font-smoothing: antialiased;
        color: #333;
        letter-spacing: normal;
        font-size: 24px;
        line-height: 1.8em;
        text-align: left;
        margin: 10px 240px;
        font-weight: 500;
      }
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 120px;
    border: 0;
    border-top: 1px solid #eee;
  }

  &.g2m .contributions .row .col-md-6 img {
    width: 70%;
    height: 55vh;
    margin: 5vh 0;
    border: 5px solid #eee;
  }
}