$home-base: #e9a1b9;

@-webkit-keyframes top-fade-in {
  /* Safari and Chrome */
  0% {
    background-position: 0 -160px;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes bottom-fade-in {
  /* Safari and Chrome */
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -160px;
  }
}

body {
  width: 100%;
  height: 100%;

  .banner {
    height: 70vh;
    background-color: $home-base;
    border-radius: 50px;
    border: 25px solid;
    border-color: #fff $home-base;
    margin: 2% 5%;
    width: 90%;
    text-align: center;

    .icon {
      display: inline-block;

      i {
        font-size: 50px;
        color: #fff;
        margin: 10px;
      }
    }

    .word {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      height: 160px;
      top: 40%;

      .c {
        height: 160px;
        display: inline-block;
        background-repeat: no-repeat;

        &.top-cover {
          animation: top-fade-in 2s;
          -moz-animation: top-fade-in 2s; /* Firefox */
          -webkit-animation: top-fade-in 2s; /* Safari and Chrome */
          -o-animation: top-fade-in 2s;
          -webkit-animation-fill-mode: forwards;
        }

        &.bottom-cover {
          animation: bottom-fade-in 2s;
          -moz-animation: bottom-fade-in 2s; /* Firefox */
          -webkit-animation: bottom-fade-in 2s; /* Safari and Chrome */
          -o-animation: bottom-fade-in 2s;
          -webkit-animation-fill-mode: forwards;
        }
      }
    }

    .social {
      position: absolute;
      top: 60vh;
      right: 80px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;

        li {
          width: 60px;
          height: 60px;
          float: left;
          margin: 2px;

          a {
            display: block;
            text-align: center;

            i {
              color: #fff;
              margin-top: 20%;
              font-size: 30px;
            }
          }

          &:hover {
            background-color: #fff;

            i {
              color: #fff;
            }
          }
        }
      }
    }
  }

  nav {
    a {
      position: absolute;
      bottom: 15%;
      display: block;
      outline: none;
      text-align: left;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100px;
      height: 100px;

      &.prev {
        left: 0;

        h3 {
          left: 100%;
          -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
        }
      }

      &.next {
        right: 0;

        h3 {
          right: 100%;
          text-align: right;
          -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
        }
      }

      &:hover {
        background-color: $home-base;

        h3 {
          opacity: 1;
          color: $home-base;
          -webkit-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
        }
      }
    }

    .icon-wrap {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }

    a::before, a::after, .icon-wrap::before, .icon-wrap::after {
      position: absolute;
      left: 50%;
      width: 3px;
      height: 50%;
      background: $home-base;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      outline: 1px solid transparent; /* for FF */
    }

    .icon-wrap::before, .icon-wrap::after {
      height: 0;
      background: #fff;
      -webkit-transition: height 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, transform 0.3s;
    }

    a::before, .icon-wrap::before {
      top: 50%;
      -webkit-transform: translateX(-50%) rotate(-135deg);
      transform: translateX(-50%) rotate(-135deg);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }

    a.next::before, a.next .icon-wrap::before {
      -webkit-transform: translateX(-50%) rotate(135deg);
      transform: translateX(-50%) rotate(135deg);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }

    a::after, .icon-wrap::after {
      top: 50%;
      -webkit-transform: translateX(-50%) rotate(-45deg);
      transform: translateX(-50%) rotate(-45deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    a.next::after, a.next .icon-wrap::after {
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }

    h3 {
      position: absolute;
      top: 50%;
      margin: 0;
      color: #fff;
      text-transform: uppercase;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      padding: 0 10px;
    }

    a:hover .icon-wrap::before, a:hover .icon-wrap::after {
      height: 50%;
    }

    a:hover::before, a:hover .icon-wrap::before {
      -webkit-transform: translateX(-50%) rotate(-125deg);
      transform: translateX(-50%) rotate(-125deg);
    }

    a.next:hover::before, a.next:hover .icon-wrap::before {
      -webkit-transform: translateX(-50%) rotate(125deg);
      transform: translateX(-50%) rotate(125deg);
    }

    a:hover::after, a:hover .icon-wrap::after {
      -webkit-transform: translateX(-50%) rotate(-55deg);
      transform: translateX(-50%) rotate(-55deg);
    }

    a.next:hover::after, a.next:hover .icon-wrap::after {
      -webkit-transform: translateX(-50%) rotate(55deg);
      transform: translateX(-50%) rotate(55deg);
    }
  }

  /*
  *   Desktop Size
  */
  @media(min-width: 992px) {
    .banner {
      .word {
      }
    }
  }

  /*
  *   Phone Size
  */
  @media(max-width: 768px) {
    .banner {
      .word {
        &.right {
          float: right;
        }
      }
    }
  }
}