@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  55% {
     left: -200%;
   }
  70% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

.others {
  div#slider1 {
    overflow: hidden;
  }
  div#slider1 figure img {
    width: 20%;
    float: left;
    height: 100vh;
  }
  div#slider1 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    -webkit-animation: 15s slidy infinite;
  }
}