$portfolio-base: #0875BD;

@-webkit-keyframes fade-in {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio {
    .close {
      font-size: 17px !important;
    }
  }
}

.portfolio {
  padding: 0em 3% 4em;
  text-align: center;
  font-size: 1.5em;
  background-color: $portfolio-base;
  margin-top: 0;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 45px;
    color: $portfolio-base;
    border: #eee;
    border-radius: 50%;
    background-color: #eee;
    opacity: 1;
    width: 50px;
    height: 50px;
    text-align: center;

    &:hover {
      opacity: 1;
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    }
  }


  .grid-title {
    color: #fff;
    padding: 3%;

    h2 {
      font-family: "brandon-grotesque", Brandon Grotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 3.04em;
      letter-spacing: -0.025em;
      text-align: center;
      font-weight: 500;
      color: #fff;
      line-height: 1.4em;
      padding: 45px;
      margin: 0;
    }

    p{
      color: #fff;
      font-weight: 500;
      margin-bottom: 2.70em;
      margin-left: auto;
      margin-right: auto;
      text-indent: 1em;
      width: 710px;
    }
  }

  .grid-wrap {
    margin: 1% auto;
    max-width: 1090px;
    width: 100%;
    padding: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;

    .grid {
      position: relative;
      -webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
      transition: all 0.5s cubic-bezier(0,0,0.25,1);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;

      a {
        figure {
          margin: 50px 10px;
          display: inline-block;
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          img {
            display: block;
            width: 339px;
            height: 339px;
            border: 10px solid #fff;
            border-radius: 50%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
              -webkit-filter: none;
              filter: none;
            }
          }
        }
      }
    }
  }

  .grid-detail {
    animation: fade-in 2s;
    -moz-animation: fade-in 2s; /* Firefox */
    -webkit-animation: fade-in 2s; /* Safari and Chrome */
    -o-animation: fade-in 2s;
    height: 100%;
  }
}