$portfolio-base: #0875BD;

//  iphone size
@media (max-width: 480px) {
  .portfolio {
    .header {
      ul {
        li {
          border-color: $portfolio-base;

          &.current {
            background-color: $portfolio-base;
          }
        }

        li:hover {
          background-color: $portfolio-base;
        }

        a {
          color: $portfolio-base;
        }
      }
    }

    .content {
      padding: 10px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0 20px;

        li {
          cursor: pointer;
          border: 10px solid $portfolio-base;
          border-radius: 10%;
          margin-bottom: 20px;
          padding: 30px 40px 15px;
          font-size: 14px;
          width: 400px;

          a {
            text-decoration: none;
            display: block;

            img {
              width: 300px;
              height: 250px;
            }

            h3, h5 {
              color: $portfolio-base;
            }
          }

          &:hover {
            background-color: $portfolio-base;

            h3, h5 {
              color: #fff;
            }
          }
        }
      }

//      Portfolio Detail
      #slideshow-wrap, #slideshow-wrap-1, #slideshow-wrap-2,#slideshow-wrap-3, #slideshow-wrap-4 {
        position: relative;
        border: 5px solid $portfolio-base;
      }

      #slideshow-inner, #slideshow-inner-1, #slideshow-inner-2, #slideshow-inner-3, #slideshow-inner-4 {
        overflow: hidden;
      }

      #slideshow-inner>ul, #slideshow-inner-1>ul, #slideshow-inner-2>ul, #slideshow-inner-3>ul, #slideshow-inner-4>ul {
        padding: 0;
        list-style: none;
        width: 500%;
        overflow: hidden;
        position: relative;
        -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
      }

      #slideshow-inner>ul>li, #slideshow-inner-1>ul>li, #slideshow-inner-2>ul>li, #slideshow-inner-3>ul>li, #slideshow-inner-4>ul>li {
        width: 20%;
        height: 320px;
        float: left;
        position: relative;
        border: none;
        margin: 0;
        padding: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      #slideshow-wrap input[type=radio],
      #slideshow-wrap-1 input[type=radio],
      #slideshow-wrap-2 input[type=radio],
      #slideshow-wrap-3 input[type=radio],
      #slideshow-wrap-4 input[type=radio], {
        position: absolute;
        visibility: hidden;
      }

      #slideshow-wrap label:not(.arrows):not(.show-description-label),
      #slideshow-wrap-1 label:not(.arrows):not(.show-description-label),
      #slideshow-wrap-2 label:not(.arrows):not(.show-description-label),
      #slideshow-wrap-3 label:not(.arrows):not(.show-description-label),
      #slideshow-wrap-4 label:not(.arrows):not(.show-description-label) {
         position: absolute;
         left: 50%;
         bottom: -45px;
         width: 12px;
         height: 12px;
         background-color: rgba(200,200,200,1);
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         cursor: pointer;
         -webkit-box-shadow: 0px 0px 3px rgba(200,200,200,1);
         -moz-box-shadow: 0px 0px 3px rgba(200,200,200,1);
         box-shadow: 0px 0px 3px rgba(200,200,200,1);
         -webkit-transition: background-color .2s;
         -moz-transition: background-color .2s;
         -o-transition: background-color .2s;
         transition: background-color .2s;
       }

      #slideshow-wrap label:not(.arrows):active,
      #slideshow-wrap-1 label:not(.arrows):active,
      #slideshow-wrap-2 label:not(.arrows):active,
      #slideshow-wrap-3 label:not(.arrows):active,
      #slideshow-wrap-4 label:not(.arrows):active { bottom: -46px }

      #slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1],
      #slideshow-wrap-1 input[type=radio]#button-1-1:checked~label[for=button-1-1],
      #slideshow-wrap-2 input[type=radio]#button-1-2:checked~label[for=button-1-2],
      #slideshow-wrap-3 input[type=radio]#button-1-3:checked~label[for=button-1-3],
      #slideshow-wrap-4 input[type=radio]#button-1-4:checked~label[for=button-1-3]
      { background-color: $portfolio-base }

      #slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2],
      #slideshow-wrap-1 input[type=radio]#button-2-1:checked~label[for=button-2-1],
      #slideshow-wrap-2 input[type=radio]#button-2-2:checked~label[for=button-2-2],
      #slideshow-wrap-3 input[type=radio]#button-2-3:checked~label[for=button-2-3],
      #slideshow-wrap-4 input[type=radio]#button-2-4:checked~label[for=button-2-4]
      { background-color: $portfolio-base }

      #slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3],
      #slideshow-wrap-1 input[type=radio]#button-3-1:checked~label[for=button-3-1],
      #slideshow-wrap-2 input[type=radio]#button-3-2:checked~label[for=button-3-2],
      #slideshow-wrap-3 input[type=radio]#button-3-3:checked~label[for=button-3-3],
      #slideshow-wrap-4 input[type=radio]#button-3-4:checked~label[for=button-3-4]
      { background-color: $portfolio-base }

      #slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4],
      #slideshow-wrap-1 input[type=radio]#button-4-1:checked~label[for=button-4-1],
      #slideshow-wrap-2 input[type=radio]#button-4-2:checked~label[for=button-4-2],
      #slideshow-wrap-3 input[type=radio]#button-4-3:checked~label[for=button-4-3],
      #slideshow-wrap-4 input[type=radio]#button-4-4:checked~label[for=button-4-4]
      { background-color: $portfolio-base }

      #slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5],
      #slideshow-wrap-1 input[type=radio]#button-5-1:checked~label[for=button-5-1],
      #slideshow-wrap-2 input[type=radio]#button-5-2:checked~label[for=button-5-2],
      #slideshow-wrap-3 input[type=radio]#button-5-3:checked~label[for=button-5-3],
      #slideshow-wrap-4 input[type=radio]#button-5-4:checked~label[for=button-5-4]
      { background-color: $portfolio-base }

      #slideshow-wrap label[for=button-1],
      #slideshow-wrap-1 label[for=button-1-1],
      #slideshow-wrap-2 label[for=button-1-2],
      #slideshow-wrap-3 label[for=button-1-3],
      #slideshow-wrap-4 label[for=button-1-4]
      { margin-left: -36px }

      #slideshow-wrap label[for=button-2],
      #slideshow-wrap-1 label[for=button-2-1],
      #slideshow-wrap-2 label[for=button-2-2],
      #slideshow-wrap-3 label[for=button-2-3],
      #slideshow-wrap-4 label[for=button-2-4]
      { margin-left: -18px }

      #slideshow-wrap label[for=button-4],
      #slideshow-wrap-1 label[for=button-4-1],
      #slideshow-wrap-2 label[for=button-4-2],
      #slideshow-wrap-3 label[for=button-4-3],
      #slideshow-wrap-4 label[for=button-4-4]
      { margin-left: 18px }

      #slideshow-wrap label[for=button-5],
      #slideshow-wrap-1 label[for=button-5-1],
      #slideshow-wrap-2 label[for=button-5-2],
      #slideshow-wrap-3 label[for=button-5-3],
      #slideshow-wrap-4 label[for=button-5-4]
      { margin-left: 36px }

      #slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul,
      #slideshow-wrap-1 input[type=radio]#button-1-1:checked~#slideshow-inner-1>ul,
      #slideshow-wrap-2 input[type=radio]#button-1-2:checked~#slideshow-inner-2>ul,
      #slideshow-wrap-3 input[type=radio]#button-1-3:checked~#slideshow-inner-3>ul,
      #slideshow-wrap-4 input[type=radio]#button-1-4:checked~#slideshow-inner-4>ul
      { left: 0 }

      #slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul,
      #slideshow-wrap-1 input[type=radio]#button-2-1:checked~#slideshow-inner-1>ul,
      #slideshow-wrap-2 input[type=radio]#button-2-2:checked~#slideshow-inner-2>ul,
      #slideshow-wrap-3 input[type=radio]#button-2-3:checked~#slideshow-inner-3>ul,
      #slideshow-wrap-4 input[type=radio]#button-2-4:checked~#slideshow-inner-4>ul
      { left: -100% }

      #slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul,
      #slideshow-wrap-1 input[type=radio]#button-3-1:checked~#slideshow-inner-1>ul,
      #slideshow-wrap-2 input[type=radio]#button-3-2:checked~#slideshow-inner-2>ul,
      #slideshow-wrap-3 input[type=radio]#button-3-3:checked~#slideshow-inner-3>ul,
      #slideshow-wrap-4 input[type=radio]#button-3-4:checked~#slideshow-inner-4>ul
      { left: -200% }

      #slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul,
      #slideshow-wrap-1 input[type=radio]#button-4-1:checked~#slideshow-inner-1>ul,
      #slideshow-wrap-2 input[type=radio]#button-4-2:checked~#slideshow-inner-2>ul,
      #slideshow-wrap-3 input[type=radio]#button-4-3:checked~#slideshow-inner-3>ul,
      #slideshow-wrap-4 input[type=radio]#button-4-4:checked~#slideshow-inner-4>ul
      { left: -300% }

      #slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul,
      #slideshow-wrap-1 input[type=radio]#button-5-1:checked~#slideshow-inner-1>ul,
      #slideshow-wrap-2 input[type=radio]#button-5-2:checked~#slideshow-inner-2>ul,
      #slideshow-wrap-3 input[type=radio]#button-5-3:checked~#slideshow-inner-3>ul,
      #slideshow-wrap-4 input[type=radio]#button-5-4:checked~#slideshow-inner-4>ul,
      { left: -400% }

      .close {
        overflow: hidden;
        position: absolute;
        top: -80px;
        right: 0;

        a {
          display: block;

          .close-image {
            background-image: url(../images/close.png);
            background-repeat: no-repeat;
            width: 42px;
            height: 42px;
          }
        }
      }

      .title {
        color: $portfolio-base;
        margin-bottom: 20px;
      }

      .description{
        color: $portfolio-base;
        margin: 70px 0;

        p {
          font-size: 18px;
          text-indent: 1em;
        }
      }
    }
  }
}