.weather-search {
  img {
    width: 100%;
  }

  .close {
    position: absolute;
    top: 2vh;
    right: 3%;
    font-size: 30px;
    color: #333;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    text-align: center;
    padding: 4px 8px 6px;

    &:hover {
      opacity: 1;
    }
  }

  .w-title {
    .section-title {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 50px;

      h2 {
        line-height: 50px;
        margin: 80px;
        font-size: 42px;
        letter-spacing: 2px;
        font-weight: 800;
      }

      h3 {
        -webkit-font-smoothing: antialiased;
        color: #333;
        letter-spacing: normal;
        font-size: 30px;
        line-height: 1.8em;
        text-align: left;
        font-weight: 500;
        margin: 80px 80px 20px;
      }

      p {
        line-height: 35px;
        letter-spacing: 0;
        color: #62676b;
        -webkit-font-smoothing: antialiased;
        text-align: left;
        font-size: 20px;
        margin: 0 80px 100px;
      }

      img {
        width: 500px;
        height: 350px;
        margin-top: 50px;
      }
    }
  }

  #wprocess {
    height: 50vh;

    .work_process {
      position: relative;
      text-align: center;
    }

    .work_process .work_process-box {
      outline: 4px solid #FFFFFF;
      border-radius: 50%;
      height: 160px;
      margin: 1em auto 3em;
      padding: 16px 10px;
      width: 120px;
    }
    .work_process-box i {
      font-size: 25px;
      padding-top: 20px;
      line-height: 52px;
      width: 52px;
      color: #FFFFFF;
    }
    .work_process-box h4 {
      font-weight: 400;
      margin: 0;
      color: #FFFFFF;
    }

    .parallax-overlay-2 {
      background-color: rgba(0, 0, 0, 0.80);

      .title {
        text-transform: uppercase;
        color: #FFFFFF;

        h1 {
          margin-top: 50px;
          color: #fff;
        }
      }

      .container {
        .row {
          margin-top: 10vh;
          padding-bottom: 10vh;
        }
      }
    }
  }

  .w-content {
    text-align: center;
    margin: 100px;

    h3 {
      text-align: left;
      margin: 250px 0 50px;
      -webkit-font-smoothing: antialiased;
      color: #333;
      letter-spacing: normal;
      font-size: 30px;
      line-height: 1.8em;
      font-weight: 500;
    }

    p {
      text-align: left;
      font-size: 20px;
      margin: 100px;
      line-height: 40px;
      letter-spacing: 0;
      color: #62676b;
      -webkit-font-smoothing: antialiased;
    }

    img {
      margin: 20px;
    }
  }

  &.g2m .g2m-ij{
    clear: both;
    padding: 20vh 5%;
    color: #000;
    margin: 0 auto;

    .row .col-md-4 img {
      height: 40vh;
    }
  }

  &.g2m .contributions .row .col-md-6 img {
    height: 40vh;
  }
}